<header class="fixed-top">
  <div class="row dflex h4">
    <div class="col-8 nav-link" id="logo">
      <a href="index.html">
        <i class="fas fa-solid fa-brush"></i>Gordon Designs
      </a>
      <p
        id="tagline"
        style="color: rgba(194, 240, 242, 0.9); font-size: 0.75rem"
      >
        <i
          >From your dream to their screen, let us share your business with the
          world.</i
        >
      </p>
    </div>
    <div class="col-1 nav-link">
      <a href="index.html">Home</a>
    </div>

    <div class="col-1 nav-link">
      <a href="introduction.html">About</a>
    </div>

    <div class="col-1 nav-link">
      <a href="contract.html">Contract</a>
    </div>
    <div class="col-1"></div>
  </div>
</header>
