<div class="container-fluid text-responsive">
  <div class="row">
    <div class="col-12">
      <header class="fixed-top">
        <div class="row dflex h3">
          <div class="col-8" id="logo">
            <i class="fas fa-solid fa-brush"></i>Gordon Designs
          </div>
          <div class="col-1 nav-link">
            <a href="index.html">Home</a>
          </div>

          <div class="col-1 nav-link">
            <a href="introduction.html">About</a>
          </div>

          <div class="col-1 nav-link">
            <a href="contract.html">Contract</a>
          </div>
          <div class="col-1"></div>
        </div>
      </header>

  <main class="main">
    <div class="row text-center">
      <div class="col-sm-12 h2">
           <h1>Kylee Gordon - WEB 215</h1>

